Resources/AzureTableSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://raw.github.com/ShaneC/Telemetry/master/Resources/AzureTableSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AzureTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Column">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AzureColumnName" type="xs:string" />
							<xs:element minOccurs="0" name="DataPoint" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="ContainsUnmappedDataPoints" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>